<div class="form-style-2" id="form-modal">
  <span class="close">&times;</span>
  <div class="form-style-2-heading">Add New Role</div>
  <form action="/addRole" method="post">
    <label for="field1"><span>Role name <span class="required">*</span></span>
      <input type="text" class="input-field" name="NAME" />
    </label>
    <label for="field1"><span>Role password</span>
      <input type="password" class="input-field" name="PASSWORD" />
    </label>
    <label><span> </span><input type="submit" value="Submit" /></label>
  </form>
</div>