<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Quản lí profile
    </title>
    <link rel="shortcut icon" href="./images/logo-mb.png" type="image/png">
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- APP CSS -->
    <link rel="stylesheet" href="/stylesheets/grid.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="/stylesheets/addProfileForm.css">
</head>

<body>

    <!-- SIDEBAR -->
    <% include ./sidebar.ejs %>
        <!-- END SIDEBAR -->

        <!-- MAIN CONTENT -->
        <div class="main">
            <div class="main-header">
                <div class="mobile-toggle" id="mobile-toggle">
                    <i class='bx bx-menu-alt-right'></i>
                </div>
                <div class="main-title">
                    Profiles
                </div>
            </div>
            <div class="main-content">
                <div class="row">
                    <div class="col-12">
                        <button id="addBtn" class="btnx">New Profile</button>
                        <button id="deleBtn" class="btnx">Drop Profile</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- ORDERS TABLE -->
                        <div class="box">
                            <div class="box-header">
                                Profiles
                            </div>
                            <div class="box-body overflow-scroll height-300">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>PRFILE</th>
                                            <th>RESOURCE_NAME</th>
                                            <th>LIMIT</th>
                                            <th>USERNAME</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(profiles !=null) { %>
                                            <tr>
                                                <% profiles.forEach(function(p, index) { %>

                                                    <td>
                                                        <%- p.PRFILE %>
                                                    </td>
                                                    <td>
                                                        <%- p.RESOURCE_NAME %>
                                                    </td>
                                                    <td>
                                                        <%- p.LIMIT %>
                                                    </td>
                                                    <td>
                                                        <%- p.USERNAME %>
                                                    </td>

                                            </tr>

                                            <% }) %>
                                                <% } else { %>
                                                    <tr>

                                                        Không có dữ liệu
                                                    </tr>
                                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END ORDERS TABLE -->
                    </div>
                </div>

            </div>
        </div>
        <!-- END MAIN CONTENT -->

        <div class="overlay"></div>

        <div id="myModal" class="modal">
            <!-- Modal content -->
            <% include ./components/addProfileForm.ejs %>
        </div>

        <div id="deleModal" class="modal">
            <!-- Modal content -->
            <% include ./components/deleteProfileForm.ejs %>
        </div>
        <!-- APP JS -->
        <script src="./javascripts/app.js"></script>
        <script>
            // Get the modal
            var modal = document.getElementById("myModal");
            var deleModal = document.getElementById("deleModal");
            // var formModal = document.getElementById("form-modal");


            // Get the button that opens the modal
            var btn = document.getElementById("addBtn");
            var deleBtn = document.getElementById("deleBtn");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];
            var span2 = document.getElementById("del-close");

            // When the user clicks on the button, open the modal
            btn.onclick = function () {
                modal.style.display = "block";
            }
            deleBtn.onclick = function () {
                deleModal.style.display = "block";
            }

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }
            span2.onclick = function () {
                deleModal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal || event.target == deleModal) {
                    modal.style.display = "none";
                    deleModal.style.display = "none";
                }
            }
        </script>
</body>

</html>