<div class="sidebar">
  <div class="sidebar-logo">
    <img src="/images/logo-lg.png" alt="Comapny logo">
    <div class="sidebar-close" id="sidebar-close">
      <i class='bx bx-left-arrow-alt'></i>
    </div>
  </div>
  <div class="sidebar-user">
    <div class="sidebar-user-info">
      <img src="/images/user-image-2.png" alt="User picture" class="profile-image">
      <div class="sidebar-user-name">
        Admin
      </div>
    </div>
    <button class="btn btn-outline" onclick="logout()">
      <i class='bx bx-log-out bx-flip-horizontal'></i>
    </button>
  </div>
  <!-- SIDEBAR MENU -->
  <ul class="sidebar-menu">
    <li>
      <a href="/users" class="active">
        <i class='bx bx-home'></i>
        <span>user management</span>
      </a>
    </li>
    <li>
      <a href="/users/roles">
        <i class='bx bx-user-circle'></i>
        <span>role management</span>
      </a>
    </li>
    <li>
      <a href="/users/profiles">
        <i class='bx bx-user-circle'></i>
        <span>profile management</span>
      </a>
    </li>
    <li>
      <a href="/users/privileges">
        <i class='bx bx-user-circle'></i>
        <span>privilege management</span>
      </a>
    </li>
    <li>
      <a href="/users/quotas">
        <i class='bx bx-user-circle'></i>
        <span>quotas management</span>
      </a>
    </li>
  </ul>
  <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->
<script>
  var logout = () => {
    // alert('kkkk')
    // browser.cookies.remove({ token });
    document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    location.href = '/login'
  }
</script>