<div class="sidebar">
  <div class="sidebar-logo">
    <img src="./images/logo-lg.png" alt="Comapny logo">
    <div class="sidebar-close" id="sidebar-close">
      <i class='bx bx-left-arrow-alt'></i>
    </div>
  </div>
  <div class="sidebar-user">
    <div class="sidebar-user-info">
      <img src="./images/user-image-2.png" alt="User picture" class="profile-image">
      <div class="sidebar-user-name">
        anh tuat
      </div>
    </div>
    <button class="btn btn-outline">
      <i class='bx bx-log-out bx-flip-horizontal'></i>
    </button>
  </div>
  <!-- SIDEBAR MENU -->
  <ul class="sidebar-menu">
    <li>
      <a href="/users" class="active">
        <i class='bx bx-home'></i>
        <span>dashboard</span>
      </a>
    </li>
    <li>
      <a href="/users/roles">
        <i class='bx bx-user-circle'></i>
        <span>Quản lí role</span>
      </a>
    </li>
    <li>
      <a href="">
        <i class='bx bx-user-circle'></i>
        <span>Quản lí profile</span>
      </a>
    </li>
    <li>
      <a href="/users/privileges">
        <i class='bx bx-user-circle'></i>
        <span>Quản lí privileges</span>
      </a>
    </li>
    <li>
      <a href="/users/quotas">
        <i class='bx bx-user-circle'></i>
        <span>Quản lí quotas</span>
      </a>
    </li>
  </ul>
  <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->